@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img{
    width:200px;
    border-radius: 100%;
}

.bg_color{
    background-image: linear-gradient(to right, rgb(211, 92, 193) , rgb(220, 137, 221),rgb(254, 188, 255));
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;  /* up-down */
    align-items: center;  /* left-right */
    max-width: 500px;
    max-height: auto;
    padding: 30px;
    padding-top: 60px;
    border: none;
    border-radius: 8%;
    box-shadow: 5px 9px 8px #888888; 
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 27px;

}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;  /* up-down */
    align-items: center;    /* left-right */
    row-gap: 16px;
}

.description h1{
    font-family: 'Tangerine', cursive;
    font-size: 45px;
    font-weight: 900;

}

.description h3{
    font-size: 23px;
    
}
.location{
    display: flex;
    align-items: center;
    gap: 1px;
    font-size: 20px;
}

.description-info{
    display: flex;
    justify-content: center;
    gap: 78px;
    font-size: 18px;
}

.info-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 55px;
}

.icon:hover{
    
    transform: scale(1.2);
    filter: brightness(0) invert(1);
    transition: .2s;
}

@media screen and (max-width:540px){

    .profile{
        margin: 19px;
        border-radius: 11%;
    }

    .description-info{
       gap: 50px;
    }
    
    
}

@media screen and (max-width:398px){

    .profile{
        margin: 18px;
        background-image: linear-gradient(to right, rgb(173, 100, 209) , rgb(206, 158, 230),rgb(222, 186, 240));
        border-radius: 2%;
    }


    .profile img{
        max-width: 60vw;
    }
     h1{
        text-align: center;
        font-size: 19vw;
        
    }
    h3{
        text-align: center;
        font-size: 10vw;
    }

    .location{
        font-size: 6.5vw;
        gap: 1px;
    }


    .description-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 6.3vw;
        gap:19px;
    }

    .social{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icon{
        width: 27vw;
    }
    
}

@media screen and (max-width:218px){
    .profile img{
        max-width: 60vw;
    }

    .profile{
        gap: 28px;
    }

    .icon{
        width: 25vw;
    }

    h1{
        text-align: center;
        font-size: .5vw;
        
    }
    h3{
        text-align: center;
        font-size: 0.01vw;
    }
    .description-info , .location{
        font-size: 9vw;
    }

}