*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width:200px;
    border-radius: 100%;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;  /* up-down */
    align-items: center;    /* left-right */
    margin-top: 85px;
    row-gap: 15px;

}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;  /* up-down */
    align-items: center;    /* left-right */
    row-gap: 13px;
}

.description h3{
    font-size: 20px;
}
.location{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 19px;
}
