@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img{
    width:200px;
    border-radius: 100%;
}

.bg_color{
    background-image: linear-gradient(to right, rgb(211, 92, 193) , rgb(220, 137, 221),rgb(254, 188, 255));
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;  /* up-down */
    align-items: center;  /* left-right */
    max-width: 500px;
    max-height: auto;
    padding: 30px;
    padding-top: 60px;
    border: none;
    border-radius: 4%;
    box-shadow: 5px 9px 8px #888888; 
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 15px;

}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;  /* up-down */
    align-items: center;    /* left-right */
    row-gap: 16px;
}

.description h1{
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    font-weight: 900;

}

.description h3{
    font-size: 20px;
    
}
.location{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 20px;
}

.description-info{
    display: flex;
    justify-content: center;
    column-gap: 80px;
    font-size: 18px;
}

.info-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 55px;
}

.icon:hover{
    
    transform: scale(1.2);
    filter: brightness(0) invert(1);
    transition: .2s;
}



@media screen and (max-width:398px){

    .profile{
        background-image: linear-gradient(to right, rgb(173, 100, 209) , rgb(206, 158, 230),rgb(222, 186, 240));
    }


    .profile img{
        max-width: 170px;
    }
     h1,h3{
        text-align: center;
        
    }
    .description-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
}

@media screen and (max-width:218px){
    .profile img{
        max-width: 136px;
    }

}